// Smart Phones
@media (max-width: 500px) {
  * {
    margin: 0;
    padding: 0;
  }

  body {
    width: 100%;
  }

  #main-container {
    #countries-container {
      #header {
        padding: 0;
        margin: 0;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        #title {
          padding-left: 5px;
          justify-content: flex-start;
        }

        #background-toggle {
          padding-right: 5px;
        }
      }

      #main-display {
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;

        #search-dropdown {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          padding: 2rem 0;

          #search-box-container {
            margin-bottom: 2rem;
            margin-left: 1.5rem;
            padding: 0 1rem;
            width: 80%;

            #search-box {
              font-size: 16px;
              padding-left: 1rem;

              ::-webkit-search-cancel-button {
                display: none;
              }
            }
          }

          #continent-dropdown {
            width: 50%;
            margin-left: 1.5rem;
          }
        }

        #card-list {
          display: flex;
          flex-direction: row;
          justify-content: center;

          [id^='country-card'] {
            &:hover {
              transform: scale(1);
            }
          }
        }
      }

      #details-container {
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;

        #back-btn {
          zoom: 75%;
          margin-bottom: 3rem;
          align-items: center;
        }
        #country-info {
          display: flex;
          flex-direction: column;
          justify-content: flex-start;

          #flag {
            width: 100%;
            padding-top: 7rem;
            margin-bottom: -4rem;
          }

          #details {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;

            .countryName {
              font-size: 20px;
              padding-bottom: 20px;
            }

            .capital {
              padding-bottom: 20px;
            }

            .languages {
              padding-bottom: 20px;
            }
          }
        }
      }
    }
  }
}

// Tablet
@media (max-width: 770px) {
  #main-container {
    #countries-container {
      #main-display {
        #card-list {
          [id^='country-card'] {
            &:hover {
              transform: scale(1);
            }
          }
        }
      }
    }
  }
}
