@import 'config';
@import 'utilities';

// General
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Nunito Sans', sans-serif;
}

#header {
  border-bottom: solid 2px $Light-Mode-Input;
  height: 3rem;
  background: $Dark-Mode-Text-Light-Mode-Elements;
  padding: 0 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  #title {
    border: solid 2px black;
  }

  #background-toggle {
    border: solid 2px purple;
    width: 6rem;
    display: flex;
    justify-content: space-evenly;

    &:hover {
      cursor: pointer;
    }
  }
}

#main-display {
  border: solid 2px green;
  background: $Light-Mode-Background;
}
